

*{

margin: 10px;
padding-bottom: 2%;
color:blue  ;



}



body{

background-color:gainsboro;



   
margin-left: 800px;
border: chocolate;

}

tbody{

background-color:#6c9bca;



}

 
input{

background-color:papayawhip;


}

    








